{% include 'partials/header-dashboard.liquid' %}

<section>
  <div class="container">
    {% if info %}<p class="info center">{{ info }}</p>{% endif %}
    <div class="row">
      <div class="six columns">
        <!--div class="box">Country</div-->
        <div class="row center">
          <div class="four columns">
            <div class="box">
              <p><strong>Files Uploaded</strong></p>
              <h4><a href="/files">{{ data.totalFiles | format }}</a></h4>
            </div>
          </div>
          <div class="four columns">
            <div class="box">
              <p><strong>Credits</strong></p>
              <h4><a href="/billing">{{ data.credits | format }}</a></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="six columns">
        <div class="box">
          <p><strong>Files</strong></p>
          <ul class="list break-words u-cf">
            {% for file in data.files %}
              <li><a href="/files/{{ file._id }}">{{ file.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/Chart.min.js"></script>
{% include 'partials/footer.liquid' %}
