{% include 'partials/header-dashboard.liquid' %}

<section>
  <div class="container">
    <!--
      Country
      Device OS
      Clients
      Platform (mobile/desktop~)
      Top clicks
      Top opens
      Time graph of engagement
    -->
    {% if info %}<p class="info center">{{ info }}</p>{% endif %}
    <div class="row">
      <div class="six columns">
        <div class="row center">
          <div class="four columns">
            <div class="box">
              <p><strong>Delivered</strong></p>
              <h5><a href="feed?action[]=delivered">{{ data.delivered | format }}</a></h5>
              <strong><a href="feed?action[]=failed">{{ data.failed | format }}</a></strong><br>failed
            </div>
          </div>
        </div>
        <!--div class="box">Country</div-->
        <div class="row center">
          <div class="four columns">
            <div class="box">
              <p><strong>Mails</strong></p>
              <h4><a href="mails">{{ data.mails | format }}</a></h4>
            </div>
          </div>
          <div class="four columns">
            <div class="box">
              <p><strong>Users</strong></p>
              <h4><a href="users">{{ data.users | format }}</a></h4>
            </div>
          </div>
          <div class="four columns">
            <div class="box">
              <p><strong>Feed</strong></p>
              <h4><a href="feed">{{ data.feed | format }}</a></h4>
            </div>
          </div>
        </div>
        <div class="box">
          <select name="top_clicks.days" class="right">
            <option value="today"{% if query['top_clicks.days'] == 'today' %} selected{%endif%}>Today</option>
            <option value="yesterday"{% if query['top_clicks.days'] == 'yesterday' %} selected{%endif%}>Yesterday</option>
            <option value="7"{% if query['top_clicks.days'] == nil or query['top_clicks.days'] == '7' %} selected{%endif%}>Last 7 days</option>
            <option value="30"{% if query['top_clicks.days'] == '30' %} selected{%endif%}>Last 30 days</option>
          </select>
          <p><strong>Top Clicks</strong></p>
          <ul class="list break-words u-cf">
            {% for url in data.clicks %}
              <li><a href="/links/{{ url._id | url_encode }}">{{ url._id }}</a> <a href="{{ url._id }}" target="_blank" rel="noopener noreferrer"><i class="icon-open fade"></i></a> <span class="fade">({{ url.count }})</span></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="six columns">
        <div class="row">
          <div class="six columns">
            <div class="box">
              <p><strong>Platform</strong></p>
              <canvas id="chart-platform"></canvas>
            </div>
          </div>
          <div class="six columns">
            <div class="box">
              <p><strong>OS</strong></p>
              <canvas id="chart-os"></canvas>
            </div>
          </div>
        </div>
        <div class="box">
          <select name="top_opens.days" class="right">
            <option value="today"{% if query['top_opens.days'] == 'today' %} selected{%endif%}>Today</option>
            <option value="yesterday"{% if query['top_opens.days'] == 'yesterday' %} selected{%endif%}>Yesterday</option>
            <option value="7"{% if query['top_opens.days'] == nil or query['top_opens.days'] == '7' %} selected{%endif%}>Last 7 days</option>
            <option value="30"{% if query['top_opens.days'] == '30' %} selected{%endif%}>Last 30 days</option>
          </select>
          <p><strong>Top Opens</strong></p>
          <ul class="list break-words u-cf">
            {% for open in data.opens %}
              <li><a href="/mails/{{ open._id }}">{{ open.mail.subject }}</a> <span class="fade">({{ open.count }})</span></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/Chart.min.js"></script>
<script type="text/javascript">
  let query = {{query}};
  $('select').on('change', function(){
    query[$(this).attr("name")] = $(this).val();
    window.location = '?'+$.param(query);
  });

  //window.onload = function() {
    Chart.defaults.global.defaultFontFamily='"Rubik", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif';
    new Chart(document.getElementById("chart-platform").getContext("2d"), {
      type: 'pie',
      data: {
        labels: {{ data.platform.labels }},
        datasets: [{
          borderWidth: 0,
          backgroundColor: ['#fdd733','#ec4e8b','#4abbe4','#62d4a2','#a68dfa','#b3c9c0'],
          data: {{ data.platform.data }}
        }]
      },
      options: {
        legend:{display: false},
        color: 'rgba(233,233,233,0.5)'
      }
    });
    new Chart(document.getElementById("chart-os").getContext("2d"), {
      type: 'pie',
      data: {
        labels: {{ data.os.labels }},
        datasets: [{
          borderWidth: 0,
          backgroundColor: ['#fdd733','#b3c9c0','#ec4e8b','#4abbe4','#963a97','#62d4a2','#7366fc','#a68dfa','#e1d3b2','#6a7989'],
          data: {{ data.os.data }}
        }]
      },
      options: {
        legend:{display: false}
      }
    });
  //};
</script>
{% include 'partials/footer.liquid' %}
